@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Lato:wght@200;300&display=swap');

html {
    font-size: 62.5%; /* 1rem = 16px */
}

body {
    margin-top: 100px;
    background-color: #333;
    color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 3.2rem;
    line-height: 2.6rem;
    color: #f4f4f4;
    text-align: center;
}

ul {
    margin-top: 15px;
    padding: 0;
    list-style: none;
}

ul li {
    border: 1px solid #d2d2d2;
    padding: 10px;
    background-color: #fff;
    color: #333;
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.input-container > input {
    width: 100%;
}

input {
    border: none;
    padding: 10px;
    font-size: 1.6rem;
}

button {
    width: 250px;
    padding: 10px;
    font-size: 1.6rem;
    cursor: pointer;
}
